# git ignore
.idea/
client/pom.xml
client/target
scripts/sql/test.sql
pom.xml
logs/
TODOs.md
common/target/
server/target/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
